
*, *::before, *::after
{
    font-family: Helvetica;
    color: white;
    outline: none;
}

body 
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(44, 44, 44);
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div
{
    height: 100vh;
    /* border: 1px solid; */
}

.toolbar-container
{
    background-color: rgb(54, 54, 54);
    min-width: 60px;
}

.grid-container
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.settings-container
{
    width: 180px;
    background-color: rgb(56, 56, 56);
}

.toolbar
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid
{
    display: flex;
    flex-wrap: wrap;
}

.settings
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.tool-btn
{
    width: 100%;
    /* background-color: rgb(61, 61, 61); */
    background: none;
    border: 1px transparent;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 10px;
}

.tool-btn:hover
{
    background-color: rgb(63, 63, 63);
}

.tool-btn-selected
{
    background-color: rgb(61, 61, 61);
}

.settings-btn
{
    padding: 8px;
    width: 100%;
    background-color: rgb(61, 61, 61);
    border: 1px transparent;
    border-radius: 8px;
    margin-bottom: 10px;
}

.settings-btn:hover
{
    background-color: rgb(63, 63, 63);
}

.pix1
{
    width: 20px;
    height: 20px;
    background-color: rgb(56, 56, 56);
}

.pix2
{
    width: 20px;
    height: 20px;
    background-color: rgb(68, 68, 68);
}

/* Initiallization */

.initial-container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-window
{
    display: flex;
    margin: 20px;
    background-color: rgb(49, 49, 49);
    width: 850px;
    height: 500px;
    border: 1px transparent;
    border-radius: 15px;

    box-shadow: 0px 0px 5px black;
}

.initial-window > div
{
    height: 100%;
}

.initial-configurations
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 51, 51);
    width: 180px;
}

.initial-configurations > div
{
    margin: 15px;
}

.create-btn
{
    cursor: pointer;
    width: 120px;
    height: 30px;
    border: 1px transparent;
    background-color: rgb(44, 107, 243);
    border-radius: 30px;
}

.create-btn:hover
{
    background-color: rgb(31, 97, 241);
}

.uncreate-btn
{
    width: 120px;
    height: 30px;
    border: 1px transparent;
    background-color: rgb(44, 107, 243);
    border-radius: 30px;
    opacity: .75;
    
}

.settings-section
{
    width: 100%;
}

.settings-section > label
{
    font-size: 12px;
    color: gray;
}

.settings-section > div
{
    padding: 8px;
    background-color: rgb(36, 36, 36);
    border: 1px transparent;
    border-radius: 8px;
}

.input
{
    background-color: rgb(88, 88, 88);
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}

.settings-input
{
    width: 100%;
}

// saving

.save-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.save-popup-container
{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 20px;
    background-color: rgb(49, 49, 49);
    // width: 700px;
    // min-width: 300px;
    // height: 500px;
    border: 1px transparent;
    border-radius: 15px;

    box-shadow: 0px 0px 5px black;
}

.pure-grid-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-as-image-btn
{
    cursor: pointer;
    background-color: rgb(8, 132, 255);
    border: 1px transparent;
    border-radius: 8px;
    height: 40px;
    width: 280px;
}

.save-as-image-btn:hover
{
    background-color: rgb(7, 114, 221);
}

.initial-etc
{
    flex-grow: 1;
}

.size-example-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.size-example
{
    background: none;
    border: 1px solid;
}